body {
    background-color:  #58595B;
}

.container {
	width: 960px;
	margin: 0 auto;
    position: relative;
    }

#main-header {
	background-color: #58595B;
    height: 150px;
}

#name {
    font-size: 2.75em;
    color: #D9C2B2;
    display: inline-block;
    text-align: left; 
    padding-top: 30px;
}

#nav-links {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 1.5em;
	list-style-type: none;
	width: 100%;
    margin: 0;
	padding: 0;
	position: absolute;
	top: 10px;    
}

#header-info {
	position: absolute;
}

#nav-links li {
	float: left;
}

#nav-links li::before {
	content: "::";
	color: #fff;
}

#nav-links li:first-child::before {
	content: "";
}

#nav-links li a {
	color: #fff;
    font-size: 0.8em;
	text-decoration: none;
	margin: 0 10px;
}

#nav-links li a:hover {
	text-decoration: overline;
}

#nav-links li::before {
	content: "::";
	color: #fff;
}

#nav-links li a {
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
}

#nav-links li a:hover {
	text-decoration: underline;
}

#nav-second {
    font-family: brandon-grotesque, sans-serif;
    font-size: 1.75em;
    color: #58595B;
    width: 97.15%;
    display: inline-block;
    text-align: center;
    background-color: white;
    padding: 10px;
}
    
img {  
    max-width: 100%;  
    height: auto;  
    position: relative;
    margin: auto;
} 

p {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: .75em;  
    padding: 5px;
}

h4 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.15em;    
    color: #58595B;
    margin: 0 auto;
}

h2 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 1.15em;    
    color: #D9C2B2;
    background-color: #58595B;
    text-align: center;
    width: 150%;
    margin-right: -50px;
    margin-left: -250px;
    padding: 20px;
}

#nav-third {
    font-family: brandon-grotesque, sans-serif;
    font-size: 1.75em;
    color: #58595B;
    width: 97.15%;
    display: inline-block;
    text-align: center;
    background-color: white;
    padding: 10px;
}

#nav-forth {
    font-family: brandon-grotesque, sans-serif;
    font-size: 1.75em;
    color: #58595B;
    width: 97.15%;
    display: inline-block;
    text-align: center;
    background-color: white;
    padding: 10px;
}
    
#aside {
	width: 960px;
	margin: 0 auto;
    position: relative;
}

    
#left-sidebar {	
    background-color: #D9C2B2;
	float: left;
	width: 46%;
	height: 400px;
    padding: 10px;
    margin: auto;
}
    
#left-sidebar li {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.25em;
    color: #58595B;
    list-style-type: square;
}

#right-sidebar {	
    background-color: lightgray;
	float: right;
	width: 48.5%;
	height: 400px;
    padding: 10px;
    margin-right: 8.5px;
}
    
#right-sidebar li {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.25em;
    color: #58595B;
    list-style-type: square;
}
